<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}alextcone</title>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700|Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8"/>
</head>
<body class="snow">
	<!-- Lines -->
	<div class="line purple"></div>
	<div class="line sand"></div>
	<!-- End Lines -->
	<div class="cf container">
		<header class="cf">
			<h1>alextcone</h1>
		</header>
		{{content}}
	</div>
</body>
</html>